// Styling for the masthead
header.masthead {
    position: relative;

    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;

    color: white;
    background:  $theme-secondary;
    background:  -webkit-linear-gradient(to top, $theme-secondary, $theme-primary);
    background:  linear-gradient(to top, $theme-secondary, $theme-primary);
    .header-content {
        max-width: 500px;

        text-align: center;
        h1 {
            font-size: 30px;
        }
    }
    .device-container {
        max-width: 325px;
        margin-right: auto;
        margin-left: auto;
        .screen img {
            border-radius: 3px;
        }
    }

    .product-name {
        font-weight: bolder;
    }

    @media (min-width: 992px) {        
        height: 100vh;
        min-height: 775px;
        padding-top: 0;
        padding-bottom: 0;

        &.masthead-bg{
            background: url('../img/bg-printer.png'), $theme-secondary;
            background: url('../img/bg-printer.png'), -webkit-linear-gradient(to left, $theme-secondary, $theme-primary);
            background: url('../img/bg-printer.png'), linear-gradient(to left, $theme-secondary, $theme-primary);   
        }

        .header-content {
            margin-bottom: 0;

            text-align: left;
            h1 {
                font-size: 50px;
            }
        }
        .device-container {
            max-width: 325px;
        }
    }
}