 
:root {
  --primary: #7935f1;
  --gray-blue: #425466;
  --gray-blue-dark: #232a38;
}

.text-primary, .btn-outline-primary {
  color: var(--primary) !important;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: var(--primary) !important;
}

.btn-primary {
  background-color: var(--primary) !important;
}

.btn-primary, .btn-outline-primary {
  border-color: var(--primary) !important;
}

.btn-outline-primary:hover,.btn-outline-primary:active {
  background-color: var(--primary) !important;
  color: #fff !important
}

.btn-primary:focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(121,53,241, 0.5) !important;
}

.btn {
  font-size: 1rem;
  padding: .5em 2em;
  border-radius: .5em;
}

.btn.btn-lg {
  font-size: 1.125rem;
  padding: .75em 2.25em;
}



/*
  ========================
  General
  ========================
*/

:root {
  font-size: 87.5%;
}
@media (min-width: 768px) {
  :root {
    font-size: 100%;
  }
}
@media (min-width: 991px) {
  :root {
    font-size: 112.5%;
  }
}

* {
  font-family: 'Circular Std', system-ui, sans-serif;
}

body {
  margin: 0;
  color: #121437;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

section {
  overflow: hidden;
}

header, section {
  margin-bottom: 8rem;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.section-description {
  font-size: 1.1rem;
  color: var(--gray-blue);
  opacity: .7;
}


/* Composite illustrations */

figure.composite {
  position: relative;
  z-index: 1;
}

figure.composite .background {
  width: 100%;
  position: relative;
}

figure.composite .foreground {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
}

figure.composite .foreground img {
  position: absolute;
  transition: opacity .3s ease-out;
}

figure.composite .foreground img:not(.active) {
  opacity: 0;
}


/* Content, sticked to the left/right side */

.from-side {
  display: flex;
  align-items: center;
}

.from-side .inner {
  flex: 0 0 60vw;
  max-width: 1000px;
}

.from-side.left {
  justify-content: flex-end;
  padding-right: calc(min(5vw, 80px));
}

.from-side.right {
  justify-content: flex-start;
  padding-left: calc(min(5vw, 80px));
}

@media (max-width: 767px) {
  .from-side.top {
    padding-bottom: 40px;
  }
  .from-side.bottom {
    padding-top: 40px;
  }
  .from-side .inner {
    flex: 0 0 120vw;
    min-width: auto;
  }
}

/* Sliders */

.slider .control {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider .control.left {
  transform: rotate(180deg);
}

.slider .control img {
  width: 100%;
}

.slider .control.disabled {
  opacity: .2;
}

.slider .control:not(.disabled):hover {
  cursor: pointer;
}

.slider .indicators {
  display: flex;
  justify-content: center;
}

.slider .indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--gray-blue);
  margin: 0 4px;
}

.slider .indicator:not(.active) {
  opacity: .2;
}

.slider .slides-wrapper {
  overflow: hidden;
}

.slider .slides {
  display: flex;
  transform: translateX(0);
}

.slider .slide {
  flex: 0 0 100%;
}


.button-group {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.button-group .subtitle {
  font-weight: 500;
  color: var(--gray-blue);
  font-size: .75rem;
  margin-top: 1em;
  opacity: .7;
}


/* Section-block */

.branded-block {
  --padding: 76px;
  padding: var(--padding) calc(var(--padding) - 24px);
  border-radius: 48px;
}

@media (max-width: 991px) {
  .branded-block {
    --padding: 48px;
  }
}

@media (max-width: 767px) {
  .branded-block {
    --padding: 24px;
    border-radius: 32px;
    padding-top: calc(var(--padding) + 20px);
    padding-bottom: calc(var(--padding) + 20px);
  }
}


/* Content with title, description and image at the left */

.info-with-icon {
  display: flex;
  align-items: flex-start;
}

.info-with-icon .icon {
  width: 100px;
  height: auto;
  margin-right: 30px;
}

.info-with-icon .title {
  margin-bottom: .625em;
  font-size: 1.125rem;
} 

.info-with-icon .description {
  color: #425466;
  opacity: 0.7;
  margin-bottom: 0;
  font-size: 1rem;
}

@media (max-width: 991px) {
  .info-with-icon .icon {
    width: 80px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .info-with-icon .icon {
    width: 64px;
    margin-right: 15px;
  }
}


.gradient-bg {
  --gradientColorZero: #B666FF;
  --gradientColorOne: #6EB4FF;
  --gradientColorTwo: #7935f1;
  --gradientColorThree: #ffffff;
  --gradientColorZeroTransparent: rgba(169, 96, 238, 0);
  --gradientColorOneTransparent: rgba(255, 51, 61, 0);
  --gradientColorTwoTransparent: rgba(144, 224, 255, 0);
  --gradientColorThreeTransparent: rgba(255, 203, 87, 0);
  background: radial-gradient(var(--gradientColorThree) 23%, var(--gradientColorThreeTransparent) 67% 100%) 385px -24px,
              radial-gradient(var(--gradientColorOne) 0, var(--gradientColorOneTransparent) 60% 100%) -940px 290px,
              radial-gradient(var(--gradientColorTwo) 10%, var(--gradientColorTwoTransparent) 60% 100%) -120px 250px,
              radial-gradient(var(--gradientColorOne) 40%, var(--gradientColorOneTransparent) 57% 100%) 495px -44px,
              radial-gradient(var(--gradientColorZero) 30%, var(--gradientColorZeroTransparent) 67% 100%) 122px -120px,
              radial-gradient(var(--gradientColorZero) 10%, var(--gradientColorZeroTransparent) 60% 100%) -420px 120px,
              radial-gradient(var(--gradientColorTwo) 15%, var(--gradientColorTwoTransparent) 50% 100%) -620px 0,
              radial-gradient(var(--gradientColorTwo) 25%, var(--gradientColorTwoTransparent) 50% 100%) 520px -250px,
              var(--gradientColorZero);
  background-repeat: repeat-y;
}

.gradient-bg.animated {
  background: linear-gradient(225deg, var(--gradientColorZero), var(--gradientColorTwo), var(--gradientColorOne), var(--gradientColorThree));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



/* 
  ========================
  Sections
  ========================
*/


/* Navbar */

.main-nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: background-color .2s ease-in;
}

.main-nav.dark, .main-nav:not(.collapsed) {
  background-color: #212529;
}

.main-nav .container {
  justify-content: space-between;
}

.main-nav .container > * {
  flex-grow: 0;
} 

.navbar-brand img {
  height: 40px;
}

.main-nav .navbar-nav .nav-link {
  font-size: 1rem;
  color: #fff;
}

.desktop-action + .desktop-action {
  margin-left: 1em;
}

.mobile-actions {
  margin-top: .5em;
  display: flex;
}

.mobile-actions .btn {
  flex: 1;
}

.mobile-actions .btn + .btn {
  margin-left: .5em;
}

.navbar-toggler {
  border: none;
  padding: .125em;
}


/* Header */

header.hero {
  padding-top: 480px;
}

.hero-row {
  --shift: -320px;
  position: relative;
  top: var(--shift);
  margin-bottom: var(--shift);
}

header.hero .content {
  background-color: #fff;
  position: relative;
}

header.hero .content:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  height: 250px;
  background-image: url(../img/hero-mask.svg);
  background-size: 100% 100%;
}

header.hero .info {
  position: relative;
  z-index: 2;
}

header.hero .section-title {
  font-size: 3.125rem;
  max-width: 7em;
  display: inline-block;
}

header.hero .section-description {
  font-weight: 400;
  font-size: 1.125rem;
  opacity: 1;
  margin-bottom: 2em;
}

figure.composite.web-and-phone .foreground img {
  width: 49%;
  top: 25%;
  left: 32%;
}

@media (min-width: 768px) {
  /* header.hero .from-side .inner {
    flex: 0 0 80vw;
  } */
}

@media (max-width: 1199px) {
  .hero-row {
    --shift: -350px;
  }
}

@media (max-width: 767px) {
  header.hero {
    padding-top: 300px;
  }
  header.hero .content:after {
    height: 200px;
  }
  .hero-row {
    --shift: -160px;
  }
  header.hero .title {
    font-size: 2.625rem;
  }
  header.hero .description {
    font-size: 1rem;
  }
  header.hero .content .illustration {
    transform: none;
    margin-top: 50px;
    width: 130vw;
    min-width: auto;
  }
}


/* Summary */

section.summary {
  position: relative;
  z-index: 3;
}

.summary-block {
  background: #0A2540;
  color: #fff;
}

.summary-block .section-title {
  max-width: 9em;
}

.summary-block .video {
  border-radius: 32px;
  overflow: hidden;
  position: relative;
  height: 310px;
}

.summary-block .video.loadingLazyVideo {
  background-image: url(../img/YouTubeThumNail-10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.summary-block .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: -1; */
}
.summary-block .video iframe.active {
  z-index: 3;
}

.summary-block .video .cover {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

.summary-block .video .play-button {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transition: all .2s ease-out;
  z-index: 3;
}

.summary-block .video:hover {
  cursor: pointer;
}
.summary-block .video:hover .play-button {
  transform: scale(1.2);
}

.metric .value {
  font-weight: bold;
  font-size: 2rem;
  position: relative;
}
.metric .value:after {
  content: "";
  display: block;
  width: 2px;
  height: 40%;
  position: absolute;
  right: calc(100% + .5em);
  top: 0;
  bottom: 0;
  margin: auto;
  background: #7354FF;
}

.metric .description {
  opacity: .7;
  font-size: 1rem;
  max-width: 12em;
}

.fullscreen-intro-video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-intro-video iframe {
  width: calc(16vmin * 8);
  height: calc(9vmin * 8);
  border-radius: 10px;
}

@media (max-width: 991px) {
  .summary-block .video {
    border-radius: 24px;
  }

  .summary-block .video .play-button {
    width: 64px;
    height: 64px;
  }
}

@media (max-width: 767px) {
  .metric {
    display: inline-block;
    margin-top: 2em;
  }

  .metric .value {
    display: inline-block;
  }
}


/* Pain */

.pain-block {
  background: #F6F9FC;
}

.pain-block .info-block .pain-title {
  font-size: 1.25rem;
  margin: 1em 0;
}

.pain-block .info-block .description {
  opacity: .7;
  font-size: 1rem;
}


/* Features 1 */

section.features-1 .section-title {
  margin-bottom: 1.5em;
}

figure.composite.phone .foreground {
  width: 96%;
  height: 96%;
  border-radius: 10%;
}
figure.composite.phone .foreground:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gray-blue-dark);
  z-index: -2;
}
figure.composite.phone .foreground img {
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  z-index: -1;
}

figure.composite.web .foreground img {
  top: 28%;
  left: 25%;
  width: 51%;
}

section.features-1 .composition {
  position: relative;
  padding-left: 20px;
  padding-bottom: 30px;
}

section.features-1 .composition .phone {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 46%;
}

section.features-1 .slider .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .5em;
  transition: opacity .3s ease-out;
}

section.features-1 .slider .title *:not(.active) {
  display: none;
}

section.features-1 .slider .controls {
  display: inline-flex;
  align-items: center;
  margin-top: 30px;
}

section.features-1 .slider .indicators {
  margin: 0 50px;
}


/* Features 2 */

section.features-2 {
  position: relative;
}


/* Gallery */

section.gallery .slider .controls {
  display: flex;
  justify-content: center;
}

section.gallery .slider .control.right {
  margin-left: 1rem;
}

section.gallery .slide {
  flex: 0 0 300px;
}

section.gallery .slide:not(:last-child) {
  margin-right: 30px;
}

section.gallery .card {
  border-radius: 24px;
  overflow: hidden;
}

section.gallery .card .video-js {
  padding-top: 56.25% !important;
}

section.gallery .card-body {
  height: 240px;
  padding-top: 60px;
  background-color: #4E5D6C;
}

section.gallery .alert-banner {
  padding: 6px 0;
  margin: -60px -20px 20px;
  height: 40px;
  font-size: 18px;
  display: none;
}

section.gallery .slides {
  transition: transform 0.3s ease-out;
}

section.gallery .slides-wrapper {
  overflow: visible;
}

@media (max-width: 767px) {
  section.gallery .slides-wrapper {
    overflow: hidden;
  }

  section.gallery .slide {
    flex: 0 0 100%;
    padding: 0 15px;
  }

  section.gallery .slide:not(:last-child) {
    margin-right: 0;
  }

  section.gallery .slider .controls {
    justify-content: center;
    padding-top: 20px;
    display: none;
  }
}


/* How it works */

.how-it-works-block {
  background: #0A2540;
  color: #fff;
  text-align: center;
}

.how-it-works-block .section-description {
  opacity: 0.7;
  max-width: 30rem;
  display: inline-block;
  color: #fff;
}

.how-it-works-block .steps {
  display: flex;
  margin: 60px 0;
}

.how-it-works-block .step {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.how-it-works-block .step + .step {
  margin-left: 15px;
}

.how-it-works-block .step .connect-line {
  position: absolute;
  width: 50%;
  height: auto;
  top: 60px;
  left: 77%;
}

.how-it-works-block .step .icon {
  width: 120px;
  height: auto;
}

.how-it-works-block .step .step-number {
  font-size: 1.25rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border: 1px solid #31485F;
  border-radius: 50%;
  margin: 1em 0;
}

.how-it-works-block .step-title {
  font-size: 1.125rem;
}

.how-it-works-block .step-description {
  font-size: 1rem;
  opacity: 0.6;
}

@media (max-width: 1399px) {
  .how-it-works-block .step .connect-line {
    width: 40%;
    left: 82%;
  }
}

@media (max-width: 1199px) {
  .how-it-works-block .step .connect-line {
    width: 30%;
    left: 89%;
  }
}

@media (max-width: 991px) {
  .how-it-works-block .steps {
    flex-wrap: wrap;
  }
  .how-it-works-block .step {
    flex: 0 0 calc(50% - 15px / 2);
    margin-bottom: 30px;
  }
  .how-it-works-block .step + .step {
    margin-left: 0;
  }
  .how-it-works-block .step:nth-of-type(2n) {
    margin-left: 15px;
  }
  .how-it-works-block .step:nth-of-type(2n) .connect-line {
    display: none;
  }
  .how-it-works-block .step .connect-line {
    width: 40%;
    left: 82%;
  }
}

@media (max-width: 767px) {
  .how-it-works-block .step {
    flex: 0 0 100%;
  }
  .how-it-works-block .step:last-of-type {
    margin-bottom: 0;
  }
  .how-it-works-block .step-description {
    max-width: 20em;
  }
  .how-it-works-block .step:nth-of-type(2n) {
    margin-left: 0;
  }

  .how-it-works-block .step .connect-line {
    display: none;
  }
}


/* Testimonials */

section.testimonials {
  background-image: url(../img/map.webp); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (min-width:480px) {
  section.testimonials {
    background-image: url(../img/map.svg);
  }
}
section.testimonials .section-title {
  margin-bottom: 1.5em;
}

section.testimonials .slider {
  text-align: center;
}

section.testimonials .slider .main {
  display: flex;
  align-items: center;
}

section.testimonials .slides-wrapper {
  margin: 0 30px;
}

section.testimonials .slider .slides {
  transition: transform 0.3s ease-out;
}

section.testimonials .slider .slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.testimonials .slider .text {
  margin: 2em 0;
  color: #425466;
  font-size: 1.25rem;
  position: relative;
}

section.testimonials .slider .text:before, .slider .text:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../img/quote.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
}

section.testimonials .slider .text:before {
  bottom: calc(100% + 10px);
  left: 0;
}

section.testimonials .slider .text:after {
  top: calc(100% + 10px);
  right: 0;
  transform: rotate(180deg);
}

section.testimonials .slider .info-with-icon {
  display: inline-flex;
  text-align: left;
  color: #425466;
  align-items: center;
}

section.testimonials .slider .info-with-icon .icon {
  width: 48px;
  margin-right: 16px;
}

section.testimonials .slider .info-with-icon .title {
  font-size: 1rem;
  margin-bottom: 0.1em;
}

section.testimonials .slider .info-with-icon .description {
  font-size: .875rem;
  opacity: .6;
}

section.testimonials .slider .indicators {
  margin-top: 30px;
}

@media (max-width: 767px) {
  section.testimonials .slider .control {
    display: none;
  }
  section.testimonials .slider .slides {
    margin: 0;
  }
}


/* Featured on */

.featured-on-block {
  color: #fff;
}

.featured-on-block .partners {
  display: flex;
  margin-top: 3vw;
}

.featured-on-block .partner {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured-on-block .partner + .partner {
  margin-left: 5vw;
}

.featured-on-block .partner img {
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .featured-on-block .partners {
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
  }
  .featured-on-block .partner {
    flex: 0 0 calc(50% - 5vw);
    margin-bottom: 30px;
  }
  .featured-on-block .partner:last-of-type {
    margin-bottom: 0;
  }
  .featured-on-block .partner + .partner {
    margin-left: 0;
  }
  .featured-on-block .partner:nth-child(2n) {
    margin-left: 20px;
  }
}


/* About founder */

section.about-founder .founder-avatar {
  width: 100%;
  height: auto;
}

section.about-founder .section-title {
  max-width: 10em;
}

section.about-founder .section-description {
  font-size: 1.125rem;
  opacity: 0.7;
  color: #425466;
  max-width: 30em;
  margin: 3em 0;
}

section.about-founder .info-with-icon {
  color: #425466;
  align-items: center;
  margin-bottom: 30px;
}

section.about-founder .info-with-icon .icon {
  width: 70px;
  margin-right: 16px;
}

section.about-founder .info-with-icon .title {
  font-size: 1.125rem;
  margin-bottom: .25em;
}

section.about-founder .info-with-icon .description {
  font-size: 1rem;
}

section.about-founder .additional {
  font-size: 1.125rem;
}

section.about-founder .additional a {
  text-decoration: none;
}

@media (max-width: 1399px) {
  section.about-founder .founder-avatar {
    width: 90%;
  }
}

@media (max-width: 992px) {
  section.about-founder .founder-avatar {
    width: 100%;
  }
  section.about-founder .section-description {
    margin: 2em 0;
  }
  section.about-founder .info-with-icon {
    margin-bottom: 20px;
  }  
  section.about-founder .info-with-icon .icon {
    width: 48px;
  }
}


/* CTA */

.cta-block .section-description {
  opacity: 0.7;
  margin-bottom: 1.5em;
  color: #fff;
}


/* Footer */

.footer-brand img {
  width: 90%;
  height: auto;
}

footer .socials {
  margin-top: 10px;
}

footer .social {
  display: inline-block;
  opacity: .3;
  transition: opacity .2s ease-out;
}

footer .social img {
  width: 30px;
  height: auto;
}

footer .social:hover {
  opacity: .5;
}

footer .socials a {
  text-decoration: none;
}

footer .links-block-title {
  font-size: 1.125rem;
  margin-bottom: 1em;
}

footer .links-block a {
  text-decoration: none;
  color: #425466;
  display: block;
  font-size: 1rem;
  margin-bottom: .5em;
  opacity: .7;
  transition: opacity .2s ease-out;
}

footer .links-block a:last-of-type {
  margin-bottom: 0;
}

footer .links-block a:hover {
  opacity: 1;
}

footer .bottom {
  border-top: 1px solid #d9dce0;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer .copyright {
  color: #425466;
  opacity: .7;
}

footer .copyright p {
  margin-bottom: 0;
}

footer .bottom .btn + .btn {
  margin-left: .5em;
}